body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #bbb;
}

section {
    padding: 20px;
}

.username {
    color: #fff;
}
