body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Белый фон */
    padding: 20px;
    text-align: center;
}

h2 {
    color: #111; /* Темнее текст для контраста */
    margin-bottom: 10px;
}

form {
    background-color: #f9f9f9; /* Еще светлее фон формы */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"].register-button{
    background-color: #70AD47; /* Светлее зеленый цвет */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"].register-button:hover {
    background-color: #5b8e3a; /* Чуть темнее зеленый цвет при наведении */
}

button[type="submit"].login-button {
    background-color: #4f8bd6; /* Светлее голубой цвет */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"].login-button:hover {
    background-color: #3a6db2; /* Чуть темнее голубой цвет при наведении */
}
