<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <title>Admin Panel</title>
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
    </header>
    <section>
        <h2>User Data</h2>
        <table id="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <!-- Добавьте дополнительные столбцы для других данных пользователя, если необходимо -->
                </tr>
            </thead>
            <tbody>
                <!-- Здесь будут отображаться данные пользователя -->
            </tbody>
        </table>
    </section>
</body>
</html>
